.header {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
  justify-content: space-between;
  margin: 0 auto 1rem;
  padding: 16px;

  h1 {
    margin: 0;
  }
}

.nav {
  display: flex;

  ul {
    display: flex;
    gap: 1rem;
    list-style: none;
    margin: 0;
  }
}